.DS_Store
/build/
DerivedData/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.moved-aside
*.orig
*.swp
xcuserdata/
*.xcuserdatad
*.xcworkspace/xcuserdata
.swiftpm/
.build/
*.mobileprovision
*.cer
*.p12
*.log
.vscode/
.idea/
